<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iSAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>iSAC_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>430D8B9C19861C2D009E763A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430D8BAC19861C2E009E763A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>432B2DC819CA85F5001267A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
