<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rbe_components.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>rbe_components_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4381C05E1D4716DA000656B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439834D0198FAAC60090EABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
