<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iLBC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iLBC_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>430D8CCF19861EE4009E763A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430D8CDF19861EE4009E763A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>432B2DF119CA8671001267A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43E049851D2619DE00B39549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
