<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>peerconnection_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>peerconnection_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>webRTCAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43C67C871D2112C100427D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43C67CCA1D2113E600427D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43ECEE8E197CA80B00E9267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43ECEEAF197CA80B00E9267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
