<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>peerconnection_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>peerconnection_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>rtc_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>rtc_video_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>rtc_voice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>rtc_voice_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>webRTCAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4381BC6B1D47017C000656B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4381BEC11D4709B5000656B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4381BEFA1D470B07000656B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4381BF071D470C13000656B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43C67C871D2112C100427D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43C67CCA1D2113E600427D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43ECEE8E197CA80B00E9267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43ECEEAF197CA80B00E9267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
