<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>video_coding_utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>video_coding_utility_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43288DDD1D38E2D20044E4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43288DFC1D38E3450044E4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
